@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, p, blockquote {
    font-family: 'Poppins', sans-serif !important;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}

/* nav {
    background-color: #f9844d;
    background-image: linear-gradient(225deg, #f9844d 0%, #f5c557 100%);                                             
} */

.parallax-container {
    height: 250px !important;
}

.parallax img {
    width: 100% !important;
    background-size: cover !important;
    padding: 10% 0 !important;
    opacity: 0.8 !important;
    box-shadow: 0 2px 4px 1px grey !important;
}

.background img {
    width: 100% !important;
    background-size: cover !important;
}

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
    }
}

@-moz-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
    }
}

@-o-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.swingimage {
    -webkit-transform-origin: 50% 0 !important;
    -moz-transform-origin: 50% 0 !important;
    -o-transform-origin: 50% 0 !important;
    transform-origin: 50% 0 !important;
    -webkit-animation: swinging 1s ease forwards infinite !important;
    animation: swinging 1s ease forwards infinite !important;
}

.bg-primary {
    background-color: #8B0000 !important;
}

.bg-secondary {
    background-color: #E1E2E1 !important;
}

.bg-light {
    background-color: #F5F5F6 !important;
}

.bg-red-dark {
    background-color: #580000 !important;
}

.bg-red-light {
    background-color: #C2402A !important;
}

blockquote {
    border-left-color: #C2402A !important;
}

.text-primary {
    color: #580000 !important;
}

.text-secondary {
    color: #F5F5F6 !important;
}

.text-red-light {
    color: #C2402A !important;
}

a:hover {
    opacity: .8 !important;
}

.footer-copyright {
    padding: 1% 0 !important;
}